body {
  background-color: #1d2021;
  color: #fbf1c7;
}

.page {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.podcast {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.ep {
  margin: 5px;
  padding: 5px;
  border: 3px solid #458588;
}

.selectedEp {
  background-color: #fbf1c7;
  color: #1d2021;
}
